@font-face {
  font-family: hindMadurai-regular;
  src: url(./fonts/Hind_Madurai/HindMadurai-Regular.ttf);
}

@font-face {
  font-family: poppins-med;
  src: url(./fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: poppins-regular;
  src: url(./fonts/Poppins/Poppins-Regular.ttf);
}

body {
  min-width: 320px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: 'poppins-med';
}

p {
  margin: 0;
  font-family: 'hindMadurai-regular';
  font-size: 18px;
}

button {
  background: transparent;
  padding: 4px 11px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border: 1px solid;
  height: 35px;
}

.mainWrapper {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  max-width: 1450px;
  min-width: 320px;
  padding: 0 4%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.header {
  position: relative;
  height: 85px;
  width: 100%;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header h2 {
  font-size: 30px;
  font-weight: 500;
}

.header .menuWrapper {
  position: relative;
  width: 28px;
  height: 28px;
}

.header .menuWrapper:hover .mBot {
  top: 3px;
  left: 3px;
}

.header .menuWrapper .menuBar {
  height: 5px;
  width: 28px;
  margin-bottom: 6px;
  background: black;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}

.header .menuWrapper .menuBar:nth-child(3) {
  width: 50%;
}

.header .menuWrapper .mTop {
  position: absolute;
  z-index: 10;
}

.header .menuWrapper .mBot {
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
}

.header .menuWrapper .mBot .menuBar {
  background: red;
}

.header .menuWrapper .menuToggle {
  position: relative;
}

.header .menuWrapper .menuToggle:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menuWrapper .menuToggle:nth-child(2) {
  top: 0px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menuWrapper .menuToggle:nth-child(3) {
  display: none;
}

.header .linkWrapper {
  position: absolute;
  width: 250px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  right: 40px;
  overflow: hidden;
}

.header .linkWrapper p {
  position: absolute;
  font-size: 1.3em;
  font-weight: 600;
  margin-right: 10px;
  padding: 0 10px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.header .linkWrapper p:nth-child(1) {
  left: 150%;
}

.header .linkWrapper p:nth-child(2) {
  left: 150%;
}

.header .linkWrapper p:nth-child(3) {
  left: 150%;
}

.header .linkWrapper .textToggled:nth-child(1) {
  left: 0%;
}

.header .linkWrapper .textToggled:nth-child(2) {
  left: 29%;
}

.header .linkWrapper .textToggled:nth-child(3) {
  left: 58%;
}

.categoryButtonWrapper {
  margin-bottom: 15px;
}

.categoryButtonWrapper .categoryBtn {
  margin: 2.5px 1px;
}

.categoryButtonWrapper .htmlEff {
  border-color: #FD9494;
}

.categoryButtonWrapper .htmlEff:hover {
  -webkit-box-shadow: 3px 3px 0px 0px #FD9494;
          box-shadow: 3px 3px 0px 0px #FD9494;
}

.categoryButtonWrapper .javaScriptEff {
  border-color: #96E493;
}

.categoryButtonWrapper .javaScriptEff:hover {
  -webkit-box-shadow: 3px 3px 0px 0px #96E493;
          box-shadow: 3px 3px 0px 0px #96E493;
}

.categoryButtonWrapper .reactJsEff {
  border-color: #9BC7F8;
}

.categoryButtonWrapper .reactJsEff:hover {
  -webkit-box-shadow: 3px 3px 0px 0px #9BC7F8;
          box-shadow: 3px 3px 0px 0px #9BC7F8;
}

.categoryButtonWrapper .designEff {
  border-color: #DAA1F9;
}

.categoryButtonWrapper .designEff:hover {
  -webkit-box-shadow: 3px 3px 0px 0px #DAA1F9;
          box-shadow: 3px 3px 0px 0px #DAA1F9;
}

.categoryButtonWrapper .showAllEff {
  border-color: #808080;
}

.categoryButtonWrapper .showAllEff:hover {
  -webkit-box-shadow: 3px 3px 0px 0px #808080;
          box-shadow: 3px 3px 0px 0px #808080;
}

.categoryButtonWrapper .catActive, .categoryButtonWrapper .showActive {
  border-color: #F2F2F2;
  color: #F2F2F2;
}

.categoryButtonWrapper .htmlActive {
  background-color: #FD9494;
}

.categoryButtonWrapper .javaScriptActive {
  background-color: #96E493;
}

.categoryButtonWrapper .reactJsActive {
  background-color: #9BC7F8;
}

.categoryButtonWrapper .designActive {
  background-color: #DAA1F9;
}

.categoryButtonWrapper .showAllActive {
  background-color: #808080;
}

.galleryWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.galleryWrapper .galleryItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 33.33%;
  height: 444px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #F2F2F2;
  background: #3E7BE6;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "poppins-med";
  font-size: 3em;
}

.galleryWrapper .galleryItem:nth-child(even) {
  background: #EB383F;
}

.galleryWrapper .galleryItemActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.galleryWrapper .galleryDocLoad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.galleryWrapper .galleryShowAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.galleryWrapper .secretMessage {
  display: none;
  text-align: center;
  font-size: 4em;
  padding-top: 10%;
}

.galleryWrapper .secretMessageToggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 90.5%;
  margin-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10px;
}

.footer .footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
  margin-top: 20px;
}

.footer .footerContent .iconWrapper img {
  width: 26px;
  height: 26px;
  margin-left: 15px;
}

.landingPage {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.contactPage {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 50px;
}

.contactPage .titleWrapper {
  width: 100%;
  height: 100%;
  margin-bottom: 22px;
}

.contactPage .titleWrapper h4 {
  font-family: 'poppins-regular';
  font-size: 1.2em;
  font-weight: 500;
}

.contactPage .contactDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  min-width: 320px;
  height: 100%;
  position: relative;
}

.contactPage .contactDetails input {
  position: relative;
  width: 100%;
  font-family: 'poppins-regular';
  margin-bottom: 10px;
  background: #F2F0F0;
  padding: 5px 10px;
  border: 0;
  font-size: 1em;
}

.contactPage .contactDetails .personalDetails {
  position: relative;
  width: 280px;
  height: 100%;
  margin-bottom: 10px;
}

.contactPage .contactDetails .personalDetails input:nth-child(5) {
  width: 215px;
}

.contactPage .contactDetails .personalDetails input:nth-child(6) {
  width: 125px;
}

.contactPage .contactDetails .personalDetails button {
  border: none;
  position: absolute;
  z-index: 15;
}

.contactPage .contactDetails .personalDetails #copyEmail {
  width: 235px;
}

.contactPage .contactDetails .personalDetails #copyMobile {
  width: 145px;
  top: 70px;
}

.contactPage .contactDetails .personalDetails .copyToolTip {
  position: absolute;
  z-index: 35;
  top: 4px;
  left: 220px;
  opacity: 1;
  width: 70px;
  border-radius: 6px;
  padding: 2px 10px;
  background: #4F3FA7;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.contactPage .contactDetails .personalDetails .copyToolTip .corner {
  position: absolute;
  top: 13px;
  left: -2px;
  width: 0;
  height: 0;
  -webkit-transform: rotate(201deg);
          transform: rotate(201deg);
  border-top: 12px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 12px solid #4F3FA7;
}

.contactPage .contactDetails .personalDetails .copyToolTip p {
  font-size: .8em;
  color: #fff;
}

.contactPage .contactDetails .personalDetails .copyToolTip ::before {
  color: #fff;
}

.contactPage .contactDetails .personalDetails ::-moz-selection {
  color: black;
  background: transparent;
}

.contactPage .contactDetails .personalDetails ::selection {
  color: black;
  background: transparent;
}

.contactPage .contactDetails .repoDetails {
  position: relative;
  margin-left: 100px;
  width: 290px;
  height: 100%;
}

.contactPage .contactDetails .repoDetails a {
  display: block;
  width: 100%;
  font-family: 'poppins-regular';
  margin-bottom: 10px;
  background: #F2F0F0;
  padding: 5px 10px;
  border: 0;
  font-size: 1em;
  text-decoration: none;
  color: black;
}

.contactPage .contactDetails .repoDetails a:nth-child(3) {
  width: 290px;
}

.contactPage .contactDetails .repoDetails a:nth-child(4) {
  width: 210px;
}

.contactPage .contactDetails .repoDetails .goToToolTip {
  position: absolute;
  z-index: 35;
  top: 4px;
  left: 260px;
  opacity: 1;
  width: 46px;
  border-radius: 6px;
  padding: 2px 10px;
  background: #4F3FA7;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.contactPage .contactDetails .repoDetails .goToToolTip .corner {
  position: absolute;
  top: 13px;
  left: -2px;
  width: 0;
  height: 0;
  -webkit-transform: rotate(201deg);
          transform: rotate(201deg);
  border-top: 12px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 12px solid #4F3FA7;
}

.contactPage .contactDetails .repoDetails .goToToolTip p {
  font-size: .8em;
  color: #fff;
}

.contactPage .contactDetails .pageDivider {
  display: none;
  margin: 20px auto;
  margin-left: 7vw;
  height: 1px;
  width: 90%;
  background: #4F3FA7;
}

.aboutPage {
  position: relative;
  display: none;
  width: 100%;
  height: 800px;
  overflow: hidden;
  margin-bottom: 50px;
}

.aboutPage .titleWrapper {
  position: absolute;
  width: 100%;
  height: 30px;
  top: 0;
}

.aboutPage .titleWrapper h4 {
  font-family: 'poppins-regular';
  font-size: 1.2em;
  font-weight: 500;
}

.aboutPage .textWrapper {
  position: absolute;
  min-width: 287px;
  left: 0;
  top: 40px;
  width: 40%;
  height: 100%;
  z-index: 10;
}

.aboutPage .textWrapper p {
  width: 95%;
  font-family: 'poppins-regular';
  font-weight: 400;
  font-size: 1em;
}

.aboutPage .textWrapper .resumeBtn {
  position: absolute;
  left: 0;
  right: 8%;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.aboutPage .textWrapper .resumeBtn:hover {
  -webkit-box-shadow: 3px 3px 0px 0px #808080;
          box-shadow: 3px 3px 0px 0px #808080;
}

.aboutPage .textWrapper .textBackground {
  position: absolute;
  height: 26px;
  background: #fff;
  z-index: -5;
}

.aboutPage .textWrapper .textBackground:nth-child(1) {
  width: 226px;
  top: 2px;
}

.aboutPage .textWrapper .textBackground:nth-child(2) {
  width: 252px;
  top: 25px;
}

.aboutPage .textWrapper .textBackground:nth-child(3) {
  width: 267px;
  top: 51px;
}

.aboutPage .textWrapper .textBackground:nth-child(4) {
  width: 274px;
  top: 76px;
}

.aboutPage .textWrapper .textBackground:nth-child(5) {
  width: 130px;
  top: 101px;
}

.aboutPage .textWrapper .textBackground:nth-child(6) {
  width: 272px;
  top: 151px;
}

.aboutPage .textWrapper .textBackground:nth-child(7) {
  width: 260px;
  top: 176px;
}

.aboutPage .textWrapper .textBackground:nth-child(8) {
  width: 248px;
  top: 201px;
}

.aboutPage .textWrapper .textBackground:nth-child(9) {
  width: 258px;
  top: 226px;
}

.aboutPage .textWrapper .textBackground:nth-child(10) {
  width: 230px;
  top: 251px;
}

.aboutPage .textWrapper .textBackground:nth-child(11) {
  width: 250px;
  top: 275px;
}

.aboutPage .textWrapper .textBackground:nth-child(12) {
  width: 200px;
  top: 301px;
}

.aboutPage .textWrapper .textBackground:nth-child(13) {
  width: 130px;
  top: 326px;
}

.aboutPage .textWrapper .textBackground:nth-child(14) {
  width: 232px;
  top: 376px;
}

.aboutPage .textWrapper .textBackground:nth-child(15) {
  width: 254px;
  top: 400px;
}

.aboutPage .textWrapper .textBackground:nth-child(16) {
  width: 270px;
  top: 426px;
}

.aboutPage .portraitWrapper {
  position: absolute;
  min-width: 320px;
  right: 0;
  top: 40px;
  width: 60%;
  height: 530px;
  z-index: 0;
}

.aboutPage .portraitWrapper img {
  width: 100%;
  position: absolute;
  height: auto;
}

.aboutPage .galleryWrapper {
  position: absolute;
  min-width: 850px;
  bottom: 0;
  width: 100%;
  height: 240px;
}

.aboutPage .galleryWrapper img {
  position: absolute;
  width: 200px;
  bottom: 0;
}

.aboutPage .galleryWrapper img:nth-child(1) {
  left: 3%;
}

.aboutPage .galleryWrapper img:nth-child(2) {
  left: 13%;
}

.aboutPage .galleryWrapper img:nth-child(3) {
  left: 23%;
}

.pageActive {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media only screen and (max-width: 1310px) {
  .contactForm form input {
    width: 350px !important;
  }
  .contactForm form textarea {
    max-width: 340px !important;
  }
  .contactForm .formBtnWrapper {
    width: 100% !important;
    max-width: 405px;
  }
}

@media only screen and (max-width: 1020px) {
  .galleryWrapper .galleryItem {
    width: 50%;
  }
  .galleryWrapper .secretMessage {
    font-size: 2em;
  }
}

@media only screen and (max-width: 870px) {
  .contactPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contactPage .contactDetails {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contactPage .contactDetails .personalDetails {
    margin-right: 10px;
  }
  .contactPage .contactDetails .pageDivider {
    display: block;
  }
  .contactPage .contactForm {
    width: 90%;
    border: 0;
  }
  .contactPage .contactForm form {
    margin: 0 auto;
    width: 100%;
  }
  .contactPage .contactForm form label {
    margin: 0 24px;
  }
  .contactPage .contactForm form input {
    width: 50%;
    max-width: 270px !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 24px 24px;
  }
  .contactPage .contactForm form textarea {
    max-width: 680px !important;
  }
  .contactPage .contactForm .formBtnWrapper {
    padding-right: 24px;
    width: 100% !important;
    max-width: 690px !important;
  }
}

@media only screen and (max-width: 870px) {
  .contactPage .contactForm form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contactPage .contactForm form input {
    margin-left: 0 !important;
  }
  .contactPage .contactForm form label {
    margin-left: 0 !important;
  }
  .contactPage .contactForm form textarea {
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 688px) {
  .contactPage .contactDetails {
    width: 90%;
  }
}

@media only screen and (max-width: 650px) {
  .galleryWrapper .galleryItem {
    width: 100%;
  }
}

@media only screen and (max-width: 745px) {
  .contactPage .contactDetails .personalDetails .copyToolTip {
    left: 180px;
  }
  .contactPage .contactDetails .personalDetails .copyToggle {
    left: 180px;
  }
}
/*# sourceMappingURL=mystyle.css.map */